# storage
storage/
 __pycache__	
# intel_models/

# vscode
.vscode
__pycache__

# notebook
*.ipynb
.ipynb_checkpoints/

 # pycharm
.idea 

pyvino.egg-info/
build
dist
docs
notebook
tmp
/build
/intel_models

*.png
*.mp4

.DS_Store
